html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Montserrat",monospace;
}

.navbar{
  display: flex; /*Contenedor para crear un sistema flexible y dinamico*/
  flex-wrap: wrap; /*Se usa en conjunto con display: flex para controlar como se envuelven los elementos */
  align-items: center; /*alinear verticalmente los elementos al centro*/
  justify-content: space-between; /*Los elementos se distribuiran a lo largo del contenedor*/
  background-color: #000000; /*Color de fondo*/
  opacity: .9;
  padding: 10px;
  position: fixed; /*hace que el elemento esté siempre en la misma posición en la pantalla*/
  top: 0; /*lo situa en la parte superior de la pantalla*/
  left: 0; /*lo situa en la parte izquierda de la pantalla*/
  right: 0; /*lo situa en la parte derecha de la pantalla*/
  z-index: 2; /*asegura que el elemento siempre esté en la parte superior*/
}

.navbar a, i{
  text-decoration: none; /*Eliminar la decoracion predeterminada en los elementos HTML*/
  color:#ffffff; /*Color de letra*/
  /* opacity:; */
}

.logo{
  margin-right: 50px; /*Habra un espacio de 50 pixeles a la derecha*/
}

.list{
  list-style: none; /*Eliminar estilos de listas (viñetas o numeracion)*/
  display: flex; /*Contenedor para crear un sistema flexible y dinamico*/
  gap: 25px; /*Espacio de 25px en cada elemento*/
}

#toggler, .navbar label{
  display: none; /*Ocultar elemento*/
}



.contenedor-imagen img {
  position: relative;
  max-width: 100%;
  height: 700px;
  background-size: cover; /* Ajuste de la imagen de fondo al tamaño del contenedor */
  background-position: center center; /* Centra la imagen de fondo en el contenedor */
  background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */

}


.contenedor-imagen {
  position: relative;
}

.contenedor-imagen img {
  display: block;
  max-width: 100%;
  height: auto;
}

.contenedor-imagen .cuadro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 60%;
  background-color: #043c6ab3;
  box-sizing: border-box;
}

.cuadro{
  backdrop-filter: blur(5px);
  display: flex; 
  align-items: center;
  justify-content:space-around;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  padding: 20px;
  border-radius: 30px;
}

.imgPerfil{
  width: 35%;
  border-radius: 50%;
}

h1{
  color: #ffffff;
  font-size: calc(2vw + 2vh + 2vmin); /* Ajusta el valor según tus necesidades */
  margin: auto;
}

h2{
  color: #00bbff;
  font-size: calc(1vw + 1vh + 1vmin); /* Ajusta el valor según tus necesidades */
  margin: auto;
}


#proyectos{
  /* position: relative; */
  background-color: aquamarine;
  display: block;
  max-width: 100%;
  height: 700px;
}



@media screen and (max-width: 600px) {

  .menu{
    width: 100%; /*Establecer 100% del ancho del contenedor*/
    max-height: 0px; /*Altura máxima del elemento*/
    overflow: hidden; /*indica que cualquier contenido que se desborde del elemento será ocultado*/
  }

  nav.navbar {
    font-size: 30px;
}

  .list{
   flex-direction: column; /*junto con un display: fles, los elementos contenidos en él se colocarán uno debajo del otro en una columna*/
   align-items: center; /*alinear verticalmente los elementos al centro*/
    padding: 20px; /*Establecerá un relleno de 20 píxeles en todos los lados del elemento */
  }

  .navbar label{
    display: inline-flex; /*combina las características de los elementos en línea e inline-block, permitiendo al elemento contener elementos flexibles y al mismo tiempo permitir que otros elementos se coloquen al lado del elemento flexible en la misma línea*/
    align-items: center; /*alinear verticalmente los elementos al centro*/
    cursor: pointer; /*Cambia el diseño del cursos*/
  }

  #toggler:checked ~ .menu{ /*es un selector CSS que se utiliza para seleccionar el elemento con clase menu que está directamente después del elemento con ID toggler cuando está seleccionado (es decir, su estado checked es true).*/
    max-height: 100%;
  }

  .contenedor-imagen .imgFondo {
    height: 70vh;
    width: 100vw;
    transform: scale(1.5);
  }

  .contenedor-imagen .cuadro {
    top: 70%;
    height: 70%;
  }

  .cuadro{
    flex-direction: column;
  }

  .imgPerfil{
    width: 50%;
    padding-top: 7px;
    border-radius: 50%;
  }

  h1{
    font-size: calc(1.5vw + 1.5vh + 1.5vmin);
  }
 
}